.componente{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu{
    width: calc(100% - 75%);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: 100;
    transition: width 300ms;
    background-color: bisque;
}


.navbar  {
    background-color: rgb(75, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 25%;
    width: calc(100% - 25%);
    top: 0;
    z-index: 100;
    transition: left  300ms;
    height: 8rem;
}


.main-content{
    transition: margin-left 300ms;
    margin-left: 25%;/*---*/
}
.main {
    margin-top: 115px;
    padding: 2rem 1.5rem;
    background-color: #133e69;
}