.componente{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu{
    height: 100%;
    width: 12%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;/*esta transion se ocupar apar acoutar el menu*/
}


.navbar  {
    position: fixed;
    left: 14%;/* alinear a la izquierda 240px que son los que tiene sidebar*/
    top: 0;
    z-index: 100;
    width: calc(100% - 12%);
    background-color: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;/* para poder ocultar el menu*/
}


.main-content{
    position: relative;
    margin-left: 12%;
    transition: margin-left 500ms;/*esta transion se ocupar apar acoutar el menu*/
}
.main {
    margin-top: 60px;
    background-color: #f1f5f9;
    min-height: 90vh;/*tamaño del menu en color*/
    padding: 1rem 3rem;
}