
<!-- <input type="checkbox" id="sidebar-toggle"> -->
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span class=" logotipo las la-heartbeat"></span>
            <span class="titulo">Hospital Angeles</span>
        </h3>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="">
                    <span class=" logo las la-home"></span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class=" logo las la-stethoscope"></span>
                    <span>Doctores</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo las la-user-injured"></span>
                    <span>Pacientes</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo las la-users"></span>
                    <span>Usuarios</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo las la-history"></span>
                    <span>Historial de citas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo las la-notes-medical"></span>
                    <span>Informes</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo las la-phone-volume"></span>
                    <span>Contacto</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="logo ti-settings"></span>
                    <span>Account</span>
                </a>
            </li>
        </ul>
    </div>
</div>


















<!--
    <div class="menu">
   
    <li class="iconoshadow">
        <a routerLink = "/componente1" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente 1</span></a>
    </li>
    <br>

    <li class="iconoshadow">
        <a routerLink = "/componente2" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente 2</span></a>
    </li>
    <br>


    <li class="iconoshadow">
        <a routerLink = "/componente3" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente3</span></a>
    </li>
</div>
-->
