<div class="menu">
   
    <li class="iconoshadow">
        <a routerLink = "/componente1" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente 1</span></a>
    </li>
    <br>

    <li class="iconoshadow">
        <a routerLink = "/componente2" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente 2</span></a>
    </li>
    <br>


    <li class="iconoshadow">
        <a routerLink = "/componente3" class="iconoshadow"><span class="fas fa-cogs iconomenu iconoshadow "></span>
            <span   class="textHidden">componente3</span></a>
    </li>
</div>